<body class="fondo3">
  
  
<%= form_for(@personal) do |f| %>
  <% if @personal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal.errors.count, "error") %> prohibited this personal from being saved:</h2>

      <ul>
      <% @personal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-12">
  <div class="col-md-6">
    <div class="field">
    <div class="letra2"><%= f.label :Nombres %><br></div>
    <%= f.text_field :nombres, class: "form-control" %>
  </div>
    
  </div>
  
  <div class="col-md-6">
    <div class="field">
    <div class="letra2"><%= f.label :Apellidos %><br></div>
    <%= f.text_field :apellidos, class: "form-control" %>
   </div>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-6">
    <div class="field">
    <div class="letra2"><%= f.label :Cedula %><br></div>
    <%= f.text_field :cedula, class: "form-control" %>
  </div>
    
  </div>
  
  <div class="col-md-6">
    <div class="field">
    <div class="letra2">Centro Ubicacion<br></div>
    <%= f.collection_select :centro_id, Centro.all, :id, :nombre, {prompt: "seleccione centro"}, {class:'form-control'} %>
  </div>
    
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-6">
    <div class="field">
    <div class="letra2"><%= f.label :email %><br></div>
    <%= f.text_field :email, class: "form-control" %>
  </div>
    
  </div>
  
    
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-6">
    <div class="field">
    <div class="letra2"><%= f.label :Placa %><br></div>
    <%= f.text_field :placa, class: "form-control" %>
  </div>
    
  </div>
  
  <div class="col-md-6">
    <div class="field">
    <div class="letra2"><%= f.label :Color_Vehiculo %><br></div>
    <%= f.text_field :color_vehiculo, class: "form-control" %>
  </div>
    
  </div>
</div>


<div class="col-md-12">
  
  <div class="col-md-6">
    <div class="field">
    <div class="letra2"><%= f.label :Telefono_iP_OTRO %><br></div>
    <%= f.text_field :telefono_ip, class: "form-control" %>
  </div>
    
  </div>

  <div class="col-md-6">
    <div class="field">
    <div><%= f.label :celular %><br></div>
    <%= f.text_field :celular, class: "form-control" %>
  </div>
    
  </div>
  
</div>

  
  
  <div class="actions">
    <%= f.submit "Guardar", class: 'btn btn-info' %>
  </div>
 
<% end %>

</body>