<body class="fondo">
  <br>
  <div class="relleno">
    <h1 class="texto3d">Lista de Usuarios</h1>  


    <%= form_tag personals_path, :method => 'get' do %>
    <% content_tag :label do %>
    Buscar Placa vehiculo:
    <%= text_field_tag :search, params[:search], class:'form-control' %>
    <%= submit_tag "Buscar",  :name => nil %>
   
    <% end %>
    <% end %>

<div class="scroll"><br>
  <table class="table table-hover margin" >
  <thead>
    <tr class="text">
      <th>usuario</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Transporte</th>
      <th>Placa</th>
      <th>Celular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="letra">
  
    <% @personals.each do |personal| %>
      <tr>
        <td><%= personal.usuario.nombre%></td>
        <td><%= personal.nombres %></td>
        <td><%= personal.apellidos %></td>
        <td><%= personal.transporte.vehiculo %></td>
        <td><%= personal.placa %></td>
        <td><%= personal.celular %></td>
        <td><%= link_to "<i class='fa fa-neuter fa-2x encima'>".html_safe, personal %></td>
        <td><%= link_to "<i class='fa fa-edit fa-2x encima '></i>".html_safe, edit_personal_path(personal) %></td>
        <td><%= link_to "<i class='fa fa-trash-o fa-2x encima'>".html_safe, personal, method: :delete, data: { confirm: 'ESTAS SEGURO?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <br>
  
</div>

<br>
<div class="btn btn-info">

<%= link_to 'Nuevo Personal', new_personal_path %><br>
<%= link_to 'Atras', personals_path %>

</div>

 

<%= will_paginate @personals, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
<br>
Personals: <%= @personals.count %>

  </div>
</body>