  <body class="fondo2">
      
      <p id="notice"><%= notice %></p>
<div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="texto3d">Datos Del Usuario</h2>
            </div>
            
            
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="pricing-table">
                    <div class="panel panel-primary" style="border: none;">
                        
                        
                        <div class="panel-body panel-body-landing">
                            <table class="table">
                                
                                
                                <tr>
                                    <td><strong>Nombres</strong></td>
                                    <td><%= @personal.nombres%></td>
                                </tr>
                                <tr>
                                    <td><strong>Apellidos</strong></td>
                                    <td><%= @personal.apellidos %></td>
                                </tr>
                                <tr>
                                    <td><strong>Cedula</strong></td>
                                    <td><%= @personal.cedula %></td>
                                </tr>
                                <tr>
                                    <td><strong>Centro</strong></td>
                                    <td><%= @personal.centro.nombre rescue nil  %></td>
                                </tr>
                                <tr>
                                    <td width="50px"><strong>Email</strong></td>
                                    <td><%= @personal.email %></td>
                                </tr>
                                
                                 <tr>
                                    <td width="50px"><strong>Placa</strong></td>
                                    <td><%= @personal.placa %></td>
                                 </tr>
                                 <tr>
                                    <td width="50px"><strong>Color</strong></i></td>
                                    <td><%= @personal.color_vehiculo %></td>
                                 </tr>
                                
                                 <tr>
                                    <td width="50px"><strong>Telefono IP/Otro</strong></i></td>
                                    <td><%= @personal.telefono_ip %></td>
                                 </tr>
                                 <tr>
                                    <td width="50px"><strong>Celular</strong></i></td>
                                    <td><%= @personal.celular %></td>
                                 </tr>
                            </table>
                        </div>
                        <div  class="btn btn-info">
                             <%= link_to 'Editar', edit_personal_path(@personal) %> |
                             <%= link_to 'Atras', personals_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
  </body>
                          
                          
        
  
